<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Upload Test</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="style.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body ng-app='fileUpload' ng-controller='MyCtrl'>

    <div class='row page-header'>
        <div class='col-md-8'>
            <h2>Upload Files</h2>
        </div>
    </div>
    <br/>
    <div class='col-md-6 col-md-offset-3'>
          <div class='row'>
              <div class='panel panel-default' ngf-drop='updateFileList($files);' ngf-drag-over-class='dragover' ngf-multiple='true'>
                <div class='panel-heading'>
                  <input type='button' class='btn btn-danger' ng-click='abort();' ng-if='filesToUpload.length' value='Abort'></input>
                  <span class='help-block'>Attach files by dragging &amp; dropping or <a ngf-select='updateFileList($files);' href='#' ngf-multiple='true'>selecting them.</a></span>
                </div>
                <table class='table table-fixed'>
                  <tbody>
                    <tr ng-repeat='f in allFiles'>
                      <td class='col-xs-6 file-name'>{{f.name}}</td>
                      <td class='col-xs-5'>
                        <div class='progress'>
                          <div class='progress-bar' ng-show='progress[$index] >= 0' role='progressbar' aria-valuenow='{{progress[$index]}}' aria-valuemin='0' aria-valuemax='100' style='min-width: 2em; width: {{progress[$index]}}%'>{{progress[$index] + '%'}}</div>
                        </div>
                      </td>
                      <td class='col-xs-1'><a href='#' ng-click='abortForOneFile($index);' ng-show='progress[$index] < 100'>X</a></td>
                    </tr>
                  </tbody>
                </table>
              </div>
          </div>
    </div>

    <script src="bower_components/jquery/dist/jquery.min.js" charset="utf-8"></script>
    <script src="bower_components/angular/angular.min.js" charset="utf-8"></script>
    <script src="bower_components/ng-file-upload/ng-file-upload.min.js" charset="utf-8"></script>
    <script src="script.js" charset="utf-8"></script>
  </body>
</html>
